body {
  font-family: Arial, Verdana, sans-serif;
  color: #111111;
}
table {
  width: 600px;
  border: 1px solid black;
}
th, td {
  padding: 7px 10px 10px 11px;
  border: 1px solid black;
}
th{
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  border-bottom: 2px solid #111111;
  border-top: 1px solid #999;
  text-align: left;
}
tr:nth-child(even) {
  background: green;
}
tr:nth-child(odd) {
  background: blue;
}
tr:hover {
  background-color: #c3e6e5;
}
